p{
    margin: 0;
    
    background-color: rgb(199, 199, 238);
    
width: 384px;
height: 125px;
text-align:center;
padding-top: 131px;

}
.conteiner{display: flex;
    height: 256px;
}
p:hover{
    background-color: rgba(38, 36, 34, 0.672);
transition: all 0.3s;
}

.img{
 display: inline-block;  
width: 384px;
height: 256px;
overflow: hidden;
background-color: black;

}
img{
    opacity: 1;
    transition: transform 0.3s;
}
.img:hover img{
    transform: scale(1.5);
  opacity: 0.5;
}
a{
    display: inline-block;
    width: 384px;
    height: 256px;  
}

    